In [2]:
import pandas as pd

          userId  movieId  rating   timestamp
0              1      307     3.5  1256677221
1              1      481     3.5  1256677456
2              1     1091     1.5  1256677471
3              1     1257     4.5  1256677460
4              1     1449     4.5  1256677264
...          ...      ...     ...         ...
27753439  283228     8542     4.5  1379882795
27753440  283228     8712     4.5  1379882751
27753441  283228    34405     4.5  1379882889
27753442  283228    44761     4.5  1354159524
27753443  283228    54286     4.5  1354159718

[27753444 rows x 4 columns]

In [5]:
df = pd.read_csv('../../ml-latest/ratings.csv')

In [6]:
df = df[['userId', 'movieId', 'rating']]

In [8]:
df['rating'].describe()

count    2.775344e+07
mean     3.530445e+00
std      1.066353e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [11]:
df = df.loc[df['rating'] % 1 == 0]

In [15]:
users = df['userId'].values
movies = df['movieId'].values
ratings = df['rating'].values

numpy.ndarray